.form {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    background-color: var(--background);
    align-items: start;
    justify-content: space-around;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    border: 2px solid var(--tertiary);
}

.formGroup {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.formGroup label {
    width: 8rem;
}